/* Componentes */
@import url("./componentes/cores.css");
@import url("./componentes/tipografias.css");
@import url("./componentes/componentes.css");

/* Geral */

body{
  margin: 0px;
  background-color: var(--cor-3);
  padding: 10px 16px;
}

h1,h2,h3,p{
  margin: 0px;
}

img{
  display: block;
  max-width: 100%;
}

ul,li{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Header */

.header{
  
  max-width: 1358px;
  margin: 21px auto 67px;
  display: flex;
  align-items: center;
  gap: 62.24px;
}
.header__logo{
  min-width: 84px
}

.header__nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__nav-list{
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-list a,.header__list-right a:hover{
  transition: all .3s ease-out;
}

.header__nav-list a:hover,.header__list-right a:hover{
  color: var(--cor-2);
}

.header__nav-list a:hover img{
  transition: all .4s ease-in-out;
}

.header__nav-list a:hover img{
  transform: rotate(180deg);
}

.header__nav-list > li.header__nav-item a:nth-child(-n+2){
  display: flex;
  gap: 9px;
  align-items: center;
}

.header__nav-list .header__nav-item > a{
  padding: 12px 0px;
}

.header__list-right{
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Home Section */


.home-section{
  max-width: 1145px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 540px 1fr;
  align-items: end;
}

.home-section__description h1{
  max-width: 11ch;
}


.home-section__description p{
  margin:51px 0px 48px;
  max-width: 45ch;
}

.home-section__partners-list{
  display: flex;
  align-items: center;
  margin-top: 108px;
  gap: 40px;
}

.home-section__hero-container{
  place-self: end;
}
.home-section__hero-container img{
  max-height: 647px;
}