.header__button{
  background-color: transparent;
  padding: 12px 23px;
  border-radius: 14px;
  border: 1.5px solid var(--cor-1);
  display: inline-block;
}

.header__button:hover{
  border-color: var(--cor-2);
}