:root{
  --cor-0:hsl(0, 0%, 98%);
  --cor-1:hsl(0, 0%, 41%);
  --cor-2:hsl(0, 0%, 8%);
  --cor-3:#FAFAFA;
}

.cor-0{
  color: var(--cor-0);
}

.cor-1{
  color: var(--cor-1);
}

.cor-2{
  color: var(--cor-2);
}